@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin :0;
  padding :0;
  box-sizing:border-box;

}
body{
   
    background-color:powderblue}
    body,input,textarea,botton{font-family: "Inter",sans-serif;}

    .app{
width: 400px;
margin: o auto;
height: 800px;
    }
    .form { height: 800px; 
        display: flex;
flex-direction: column;
justify-content: center;
    }
    .form>h1{margin-bottom: 30px;

    }
    .form>input,textarea{
        padding: 20px;
        border-radius: 3px;
        margin-bottom: 20px;
        border: 1px solid grey;
        background: #fff;
        font-size: 16px;
        color:tomato;
        outline: none;
    }
    .form>input:focus,textarea:focus{
        border: 1px solid grey;
    }
    .form>label{
padding-bottom: 20px;
color: red;
text-align:justify;
font-weight: bold;

    }
    .form>textarea {
        height: 100px;
        min-height:100px;
        max-width: 400px;
    }
    .form>button{
padding: 20px;
border: none;
background-color:blue;
font-weight: 500;
font-size: 20px;
border-radius: 3px;
color:#fff;
transition: 1s ease-in-out;
cursor:pointer;
margin-top: 20px;


    }
    .form>button:hover{
        background-color:rgb(68, 0, 255);
    }
    
